{% extends 'base.html' %}
{% block head_title %}Profile - Boipustok Library{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mx-auto row justify-content-center">
  <div class="text-center rounded rounded-4 shadow-lg p-3 fw-bold mt-4" style="max-width: 500px;" >
    <span class="my-3 fw-semibold fs-5">Hello,</span><br>
    <span class="text-primary fs-2">{{request.user.first_name}} {{request.user.last_name}}</span><br>
    <span class="fw-bold me-2 fs-5">Your current balance: </span><br>
    <span class="text-danger fs-4">{{request.user.account.balance}}$</span> <br>
    <a class="btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
  </div>

  <div class="container mx-auto text-center">
    <p style="margin: 50px 0px 20px 0px;" class="text-center fw-bold p-3 rounded fs-5"><span class="alert alert-danger">Your Book transaction history</span>
    </p>
    {% if data %}
    <table style="margin-bottom: 200px;" class="table table-striped border border-3 shadow">
      <thead>
        <tr>
          <th scope="col">Book</th>
          <th scope="col">Price</th>
          <th scope="col">Transaction Time</th>
          <th scope="col">Transaction Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in data %}
        <tr>
          <td>
            <img style="width: 30px; height: 30px;" src="{{transaction.book.book_image.url}}" alt="">
            <a class="btn btn-warning fw-bold p-1" href="{% url 'details' id=transaction.book.id %}">{{transaction.book.book_title}}</a>
          </td>
          <td class="fw-bold">{{transaction.book.price}}$</td>
          
          <td class="text-secondary fw-bold">{{transaction.transaction.timestamp}}</td>
          {% if transaction.transaction.transaction_type == "Borrow" %}
          <td><small class="alert alert-success p-1 rounded rounded-5 fw-bold">{{transaction.transaction.transaction_type}}</small></td>
          <td><a class="btn btn-success fw-bold p-1" href="{% url 'return' transaction.id %}"> Return </a></td>
          {% else %}
          <td><small class="alert alert-danger p-1 rounded rounded-5 fw-bold">{{transaction.transaction.transaction_type}}</small></td>
          <td><button class="btn btn-secondary p-1" disabled> Return </button></td>
          {% endif %}
        </tr>
        {% endfor %}
        {% else %}
        <h4 class="text-center text-secondary" style="margin-top: 100px;">You don't have borrowed any books!</h4>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}