asgiref
contourpy
crispy
crispy-bootstrap5
cycler
Django
django-crispy-forms
django-environ
environ
fabio
fonttools
h5py
hdf5plugin
kiwisolver
lxml
matplotlib
numpy
packaging
pillow
pyparsing
PyQt5
PyQt5-Qt5
PyQt5-sip
python-dateutil
silx
six
sqlparse
tzdata