{% extends 'base.html' %}
{% load static %}

{% block head_title %}Boipustok Library - Book Details{% endblock %}
{% block content %}

<div class="card w-full bg-white m-2">
  <div class="card-body">
    <img class="w-25" src="{{object.book_image.url}}" class="card-img-top" alt="">
    <h5 class="card-title">{{object.book_title}}</h5>
    <p class="card-text">{{object.book_description}}</p>
    <p class="card-text">Price: {{object.price}}</p>
    <p class="card-text">Category: {% for cat in object.book_category.all %} {{cat.category_name}} {% endfor %}</p>
    {% if request.user.is_authenticated %}
    <a href="" class="btn btn-primary">Borrow now!</a>
    {% endif %}
  </div>
</div>
{% endblock %}