{% extends 'base.html' %}

{% block head_title %}About - Boipustok Library{% endblock %}

{% block content %}
{% load static %}
<div class="container mx-auto p-3" style="margin-bottom: 200px;max-width: 950px;">
    <h1 class="text-success text-center my-5 fw-bold">About Boipustok Library</h1>
    <h3 class="text-primary fw-bold">Project Background</h3>
    <p>This project is based on Library Management System where users can see books, borrow books, see book details, and
        review that book. <b>4 apps (books, core, users, transactions)</b> used here to build this system.
    </p>
    <h3 class="text-primary fw-bold">Books</h3>
    <p>Every book has title, description, category, image, borrowing price and user reviews. There is a functionality
        where user can filter books based on categories.</p>
    <h3 class="text-primary fw-bold">Users</h3>
    <p>Here a user can create an account, Can login, logout,can borrow and return books. Users can deposit money to his
        account. After successfull deposit a confirmation email sent to the user. Using the deposit money user can
        borrow books. After success user get a completion email. Suppose a user has 1000 taka in his account. He
        borrowed a book that cost 200 taka. After borrowing the book he will have 800 taka. The system also keep track
        all the transaction and able to see borrowing history report inside user profile.After borrowing a book, the
        user can review that book. When a user returned book, the book borrowed amount will be given to the user. This
        record also kept in the database.</p>
    <h3 class="text-primary fw-bold">Transactions</h3>
    <p>Transaction app used here to keep record of user transaction. When user deposit money, borrow book and return
        book, in those time this app keep track of amount, balance after transaction, user information, book information
        and date-time.</p>
    <h3 class="text-primary fw-bold">Core</h3>
    <p>This app is the core of this project. All the basic templates rendered from here. Contact method implemented
        here. User can give feedback to the developer. </p>
    <h3 class="text-primary fw-bold">Used Technologies</h3>
    <ul>
        <li>Django</li>
        <li>Bootstrap</li>
        <li>Crispy</li>
        <li>db.sqlite3</li>
        <li>smtp.EmailBackend</li>
        <li>host: on-render</li>
    </ul>

</div>
{% endblock %}